@import "tailwindcss";
@tailwind utilities;
@layer utilities {
    .boxContainer {
        @apply relative w-[150px] h-[150px] bg-[rgba(45,45,45,1)];
        @apply flex justify-center items-center overflow-hidden;
    }

}
.boxContainer::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: yellow;
    top : 10px;
    left : 10px;
    transform: translate(-50%, -50%);
}