@layer utilities {
    .boxContainer {
        @apply relative w-[150px] h-[150px] bg-[rgba(45,45,45,1)];
        @apply flex justify-center items-center overflow-hidden;
    }
    .boxContainer::after {
        @apply content absolute inset-[2px];
        @apply bg-[rgba(45,45,45,.9)]
    }
    .boxContainer::before {
        @apply content absolute -translate-x-1/2 -translate-y-1/2;
        @apply bg-amber-400;
        @apply w-[300px] h-[300px]
        
    }
}
.boxContainer::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: yellow;
}