.cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 10s infinite linear;   
}

.face img {
    width: 100%;
    height: 10%;
    object-fit: cover;
    border-radius: 8px;
}
.front {
    transform: rotateY(0deg) translateZ(150px);
}