.scene {
    width: 300px;
    height: 300px;
    perspective: 10000px;
}
.cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 10s infinite linear;   
}

.face img {
    width: 100%;
    height: 10%;
    object-fit: cover;
    border-radius: 8px;
}
.front {
    transform: rotateY(0deg) translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}
.right {
    transform: rotateY(90deg) translateZ(150px);
}
.left {
    transform: rotateY(-90deg) translateZ(150px);
}
.top {
    transform: rotateX(90deg) translateZ(150px);
}
.bottom {
    transform: rotateX(-90deg) translateZ(150px);
}



@keyframes rotateCube {
    0%{
        transform: rotateX(0) rotateY(0);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}