.cubeBox{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(to bottom right, rgba(104, 9,104), rgba(179, 54, 131)); */
    position: relative;
    /* overflow: hidden; */
}
.container{
    width: 600px;
    height: 600px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000;
}

.box {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: transparent;
    transform-style: preserve-3d;
}

.top {
    bottom: 155px;
    transform: rotateX(90deg);
}

.bottom {
    top: 155px;
    transform: rotateX(-90deg);
}

.left {
    right: 165px;
    transform: rotateY(-90deg)
}

.right {
    left: 175px;
    transform: rotateY(90deg);
}

.front {
    transform:  translateZ(165px);
}

.back {
    transform: translateZ(-165px);
}