.cubeBox{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(104, 9,104), rgba(179, 54, 131));
}
.container{
    width: 600px;
    height: 600px;
    alignment-baseline: ;   
}