.cubeBox{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(104, 9,104), rgba(179, 54, 131));
    position: relative;
    overflow: hidden;
}
.container{
    width: 600px;
    height: 600px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center
}