.hover-image{
    height: 350px;
    width: 300px;
    position: absolute;
    bottom:100px;
    left: 50%;
    border-radius: 25px;
    transform: translateX(-50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25);  
    z-index: 0;
    pointer-events: none; 
    transition: transform .5s, z-index 0s, left .5s ;
    transition-delay: 0s, .5s, .5s;
}

.icon-image:hover .hover-image{
    left:-200px;
    z-index: 12 ;
    transform: translateX(80px);
    transition: left .5s, z-index 0s, transform .5s;
    transition-delay: 0s , .5s, .5s ;
}

.icon-image:hover  .details {
    transition: all .5s ease;
    opacity: 1;
    transform: translateY(4px);
    transition: all .3s ease;
    transition-delay : .9s

}

/* .icon-image:last-child .hover-image {
    transition: none;
}

.icon-image:hover:last-child .hover-image {
    transition: none;
} */
/* .icon-image:hover:last-child .details {
    transition-delay:  0s;
} */
