@tailwind utilities;

@layer utilities {
  .hover-image {
    transition: transform 0.5s, z-index 0s, left 0.5s;
    transition-delay: 0s, 0.5s, 0.5s;
  }
  .icon-image:hover .hover-image{
    left : -200px;
    z-index: 12 !important;
    transform: translateX(80px);
    transition: left .5s, z-index 0s, transform .5s;
    transition-delay: 0s, .5s, .5s ;
  }

  .last .hover-image {
    transition: none;
  }

  .last:hover .hover-image {
    transition: none;
  }
  .last:hover .details {
    transition-delay: 0s ;
  }
}