@tailwind utilities;

@layer utilities {
  .complex-transition {
    transition: transform 0.5s, z-index 0s, left 0.5s;
    transition-delay: 0s, 0.5s, 0.5s;
  }
  .icon-image:hover .complex-transition {
    left : -200px;
    z-index: 12;
    transform: translateX(80px);
    transition: left .5s, z-index 0s, transform .5s;
    transition-delay: 0s, .5s, .5s ;
  }
}