.container::before {
    /* background-image: conic-gradient(transparent, transparent, transparent ,#fff ); */
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}