
.frontCube {
    transform: translateZ(200px) !important;
    background-color: red !important;
}

.backCube {
    transform: translateZ(-200px) !important;
    background-color: aliceblue !important;
}

.leftCube {
    right: 150px !important;
    
    transform: rotateY(-90deg);
}

.rightCubes {
    left: 200px !important;
    background: slateblue !important;
    transform: rotateY(90deg);
}
