.rotate3D {
    transform: perspective(1000px);
    animation: rotate3d 20s linear infinite
    ;
}
@keyframes rotate3d {
    form {
        transform: perspective(1000px) rotateY(0);
    }
    to {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.rotateSpan {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);;
}

@media screen and (max-width:1024px) {
    .rotateSpan {
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);;
    }  
}
@media screen and (max-width:640px) {
    .rotateSpan {
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);;
    }  
}