.rotate3D {
    transform: perspective(1000px);
    animation: rotate3d 20s linear infinite
    ;
}
@keyframes rotate3d {
    form {
        transform: perspective(1000px) rotateY(0);
    }
    to {
        transform: perspective(1000px) rotateY(360deg);
    }
}