/* .cube-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  overflow: hidden;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
}

.slide:nth-child(1) {
  transform: rotateY(0deg) translateZ(500px);
}
.slide:nth-child(2) {
  transform: rotateY(90deg) translateZ(500px);
}
.slide:nth-child(3) {
  transform: rotateY(180deg) translateZ(500px);
}
.slide:nth-child(4) {
  transform: rotateY(270deg) translateZ(500px);
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.nav.left {
  left: 10px;
}

.nav.right {
  right: 10px;
} */
