@keyframes show-data {
    50%{
        transform:  translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes remove-flow {
    to {
        overflow: initial;
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }

    50%{
        overflow: hidden;
    }
}