.scrollbarGarllery::-webkit-scrollbar {
    width: 5px;
    background-color: silver;
    border-radius: 40px;
}

.scrollbarGarllery::-webkit-scrollbar-thumb {
    background-color: #001a67;
    border-radius: 40px;
}