
.frontCube {
    transform: translateZ(-200px) ;
}

.backCube {
    transform: translateZ(200px) ;
}

.leftCube {
    left: 200px ;
    transform: rotateY(-90deg);
}

.rightCube {
    left: -200px ;
    transform: rotateY(90deg);
}
