.slideImage:nth-child(1){
    transform: rotateY(0) translateZ(150px);
}
.slideImage:nth-child(2){
    transform: rotateY(90deg) translateZ(150px);
}
.slideImage:nth-child(3){
    transform: rotateY(180deg) translateZ(150px);
}
.slideImage:nth-child(4){
    transform: rotateY(270deg) translateZ(150px);
}
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}
.containerCube{
    position: relative;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    
    user-select: none;
}

/* w-full h-full transform-3d transition-transform duration-1000 ease-in-out relative bg-blue-500
 */
 .sliderWrapper {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    position: relative;
 }

 /* absolute w-full h-full bg-cover bg-center backface-hidden */
 .slideImage{
    position: absolute;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    backface-visibility:hidden;
 }