.face-cube:nth-child(1){
    transform: rotateY(0) translateZ(150px);
}
.face-cube:nth-child(2){
    transform: rotateY(90deg) translateZ(150px);
}
.face-cube:nth-child(3){
    transform: rotateY(180deg) translateZ(150px);
}
.face-cube:nth-child(4){
    transform: rotateY(270deg) translateZ(150px);
}