.scrollbarWrapper::-webkit-scrollbar {
    display: hidden;
}

.animationChangeImage {
    animation: changeImage 1s forwards linear;

}
@keyframes changeImage  {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0);
    }
}