.scrllBar::-webkit-scrollbar {
    display: hidden;
}

.animationChangeImage {
    animation: changeImage 1s forwards linear;
}
@keyframes changeImage  {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0);
    }
}