.scrllBar::-webkit-scrollbar {
    display: hidden;
}

.animationChangeImage {
    animation: changeImage .5s forwards linear;
}
@keyframes changeImage  {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0);
    }
}