@import "tailwindcss";
@tailwind utilities;

/* Custom glow effect utility */
.glow-green:hover {
  filter: drop-shadow(0 0 2px #2dfc52)
          drop-shadow(0 0 5px #2dfc52)
          drop-shadow(0 0 15px #2dfc52);
}

/* effect animation */
.glowSkyBlueEffect {
  filter: drop-shadow(0 0 10px #24ecff) 
          drop-shadow(0 0 30px #24ecff) 
          drop-shadow(0 0 50px #24ecff);

}
.glowSkyGreenEffect {
  filter: drop-shadow(0 0 10px #93ff2d) 
          drop-shadow(0 0 30px #93ff2d) 
          drop-shadow(0 0 50px #93ff2d);

}
.glowSkyRedEffect {
  filter: drop-shadow(0 0 10px #ff1d6c) 
          drop-shadow(0 0 30px #ff1d6c) 
          drop-shadow(0 0 50px #ff1d6c);

}


@keyframes animateSkyBlueEffect {
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}


@layer utilities {
  /* span custom layerd Hover Effects */
  .custom-span-layerd {
    @apply absolute top-0 left-0 ;
    @apply w-[100%] h-[100%] ;
    @apply border-1 border-white rounded-[5px];
    @apply  transition-all duration-300;  
  }

  /* container box custom magic buttom */
  .box-custom-magic {
    @apply relative ;
    @apply w-[100px] h-[40px] ;
    @apply cursor-pointer;
    @apply filter-[drop-shadow(0_0_10px_#7ef0ff)_drop-shadow(0_0_30px_#7ef0ff)];
    @apply before:content-[''];
    @apply before:absolute ;
    @apply before:inset-[-4px];
    @apply before:border-1 before:border-[#7ef0ff]
  }
  /* container box span custom magic buttom */
  .box-span-custom {
    @apply absolute;
    @apply w-[40px] h-[1px];
    @apply bg-[#7ef0ff];
    @apply pointer-events-none;
    @apply transition duration-200 ease-in-out
  }
}
