@import "tailwindcss";
@tailwind utilities;

@layer utilities {
    .bg-custom {
        @apply
    }
}


module.exports = {
  theme: {
    extend: {
      backgroundImage: {
        'diagonal-gradient': 'linear-gradient(45deg, #8460ed, #ff1252)',
      },
    },
  },
};


