.sliderAnimation {
    transform: translateY(50px);
    filter : blur(20px);
    opacity : 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent  {
    to {
        transform: translateY(0);
        filter : blur(0);
        opacity : 1
    }
}

.titleContent {
    animation-delay: .4s !important;
}
.typeContent {
    animation-delay: .6s !important;
}
.descriptionContent {
    animation-delay: .8s !important;
}
.buttonsContent {
    animation-delay: 1s !important;
}