.sliderAnimation {
    transform: translateY(50px);
    filter : blur(20px);
    opacity : 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent  {
    to {
        transform: translateY(0);
        filter : blur(0);
        opacity : 1
    }
}

.titleContent {
    animation-delay: .4s !important;
}
.typeContent {
    animation-delay: .6s !important;
}
.descriptionContent {
    animation-delay: .8s !important;
}
.buttonsContent {
    animation-delay: 1s !important;
}
/*  */
.sliderNext:nth-child(1) {
    width: 150px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left:0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    
}
/*  */


.thumbnailNext:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
/* .slider.prev .list .item img{
    z-index: 100;
} */


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}

.nextThumbnial  {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}


/*  */
.sliderPrev {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outFrame .5s linear 1 forwards;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}


