@import "tailwindcss";
@tailwind utilities;

.btn::before, .btn::after{
    background: #ff1f71;
    box-shadow: 0 0  5px  #ff1f71,
                0 0  15px #ff1f71,
                0 0  30px #ff1f71,
                0 0  60px #ff1f71;
}
.btn:nth-child(2):before, .btn:nth-child(2)::after{
    background: #2db2ff;
    box-shadow: 0 0  5px  #2db2ff,
                0 0  15px #2db2ff,
                0 0  30px #2db2ff,
                0 0  60px #2db2ff;
}
/* .btn:nth-child(3):before, .btn:nth-child(3)::after{
    background: #1eff45;
    box-shadow: 0 0  5px  #1eff45,
                0 0  15px #1eff45,
                0 0  30px #1eff45,
                0 0  60px #1eff45;
} */



@layer utilities{

    .btn-morphism {
        @apply relative w-[155px] h-[50px] m-[20px];
        @apply before:content-[''] before:absolute before:left-[50%] ;
        @apply before:-translate-x-1/2 before:bottom-[-5px] before:w-[30px] before:h-[10px];
        @apply before:rounded-[10px] before:duration-500 before:delay-0;
        @apply after:content-[''] after:absolute after:left-[50%];
        @apply after:-translate-x-1/2 after:top-[-5px] after:w-[30px]  after:h-[10px] after:bg-[#ff1f71]; 
        @apply after:rounded-[10px] after:duration-500 after:delay-0 ;
        @apply hover:after:top-0 hover:after:h-[50%] hover:after:w-[80%] hover:after:rounded-[30px] hover:after:delay-[.5s]; 
        @apply hover:before:bottom-0 hover:before:h-[50%] hover:before:w-[80%] hover:before:rounded-[30px] hover:before:delay-[.5s];
        @apply before:shadow-[0_0_5px_var(--color-bg),0_0_15px_var(--color-bg),0_0_30px_var(--color-bg),0_0_60px_var(--color-bg)]!;
        @apply after:shadow-[0_0_5px_var(--color-bg),0_0_15px_var(--color-bg),0_0_30px_#1eff45,0_0_60px_var(--color-bg)]!;
        @apply before:bg-[var(--color-bg)]!;
        @apply after:bg-[var(--color-bg)]!;
    }

    .link-morphism {
        @apply absolute top-0 left-0 w-[100%] h-[100%];
        @apply flex justify-center items-center;
        @apply bg-[rgba(255,255,255,.05)] shadow-[0_15px_35px_rgba(0,0,0,.2)];
        @apply border-t-1 border-t-[rgba(255,255,255,.1)] border-b-1 border-b-[rgba(255,255,255,.1)] ;
        @apply rounded-[30px] text-white ;
        @apply font-[400] tracking-[1px] decoration-0 backdrop-blur-[15px] ;
        @apply overflow-hidden duration-500 ;
        @apply before:content-[''] before:absolute before:top-0 before:left-0;
        @apply before:w-[50%] before:h-[100%] ;
        @apply before:bg-[linear-gradient(to_left,rgba(255,255,255,.15),transparent)];
        @apply before:skew-x-45 before:translate-x-0 before:duration-500 z-30;
    }
}